<article class="item collection page" ng-class="classes()">
	<div>
		<a href="http://www.schuelerhilfe.de/delitzsch/"
		   title="Das Medienportal wird von Schülerhilfe Delitzsch unterstützt.">
			<img bn-lazy-src="/assets/images/wer_supp_klickermann_preview_small.png" />
		</a>
		<h2>
			<a href="http://www.schuelerhilfe.de/delitzsch/"
			   title="Das Medienportal wird von Schülerhilfe Delitzsch unterstützt.">
				Das Medienportal wird von Schülerhilfe Delitzsch unterstützt.
			</a>
		</h2>
		<p class="excerp teasertext">
			Ob Prüfungsvorbereitung oder Unterstützung in Mathe, Chemie, Physik, Deutsch, Englisch, Französisch, oder Russisch:
			Die TÜV-geprüfte Einzelförderung der Schülerhilfe Delitzsch in kleinen Gruppen führt nachweislich zu dauerhaften Notenverbesserungen.
		</p>
	<div>
</article>
