<section ng-controller="FooterCtrl as footer">
	<div class="small-12 medium-9 columns">
		<a href="{{baseUrl}}/#!/impress" target="_blank">Impressum</a> &bull;
		<a href="https://medienportal.org/" target="_blank">Projektseite</a> &bull;
		<a href="http://status.medienportal.org/" target="_blank">Systemstatus</a> &bull;
		<a href="{{baseUrl}}/#!/faq">Häufige Fragen</a>
	</div>
	<div class="show-for-medium-up medium-3 columns right">
		<span>entwickelt von </span>
		<a href="http://unsdrei.de" target="_blank"><img src="/assets/images/unsdrei_orange.svg"/></a>
	</div>
</section>
