h2.module_subhead {
  	font-size: 20px;
   font-weight: 700;	
   text-align: left;
   font-family: $contrast-font;
   margin: 0 auto;
   padding: 10px 15px;
   color: $text-color;
   line-height: normal;
}