<span ng-if="isEditing()">status: {{module.state}}</span>
<div class="vidly video" id="module_{{module.id}}">
	<video controls style="display:block" auto-resize-video in-view="playVideo($inviewpart)">
		<source
			ng-src="{{'//d1dvvsd95n8302.cloudfront.net' + version.relativeUrl}}"
			type="{{getMimeType(version.mimetype || ('video/' + version.name))}}"
			ng-repeat="version in module.files[0].versions"
			ng-if="version.name !== 'original' && module.files[0].file_id" />
		<!-- deprecated files system -->
		<source
			ng-src="{{file.cloudfront_url}}"
			type="{{getMimeType(file.mime_type)}}"
			ng-repeat="file in module.files[0].files"
			ng-if="!module.files[0].file_id" />
		<!-- /deprecated files system -->
	</video>
</div>
<input type="file" ngf-select ngf-change="module.setFile($files, page)" ng-if="isEditing()" />
<p contenteditable="{{isEditing()}}" ng-model="module.content" class="module_additionalinfo" ng-blur="module.save(page)" ng-change="realtime()"></p>
