.category {
	aside {
		.subnavigation {
			list-style: none;
			.active {
				font-weight: bold;
			}
		}
		/* TODO: Only for mobile */
		&.fixed {
			position: fixed;
			with: 20%;
			width: 22.9%;
			top: 65px;
		}
	}
	.subcategory {
		clear: both;
	}
}
