<!doctype>
<head>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
body {
	background: url(https://medienportal.org/images/iphone_blau.jpg);
	background-size: cover;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
}
.header {
	height: 80px;
	width: 100%;
	background: #fff;
}
.header img {
	height: 40px;
	width: auto;
}
.header a, .header a:visited {
	margin-top: 20px;
	display: inline-block;
	border: none;
}
.content {
	width: 80%;
	margin: 0 auto;
}
h1, h2, h3, p {
	text-align: right;
}
h1 {
	font-size: 36pt;
	margin-top: 50pt;
	font-weight: normal !important;
}
h1 span {
	font-size: 60pt;
	font-family: Helvetica, sans-serif;
}
p {
	margin-top: 40pt;
}
p a, p a:visited {
	display: inline-block;
	padding: 10px;
	background: #ff0303;
	color: #fff;
	border-radius: 2px;
	text-transform: uppercaseM
}
</style>
</head>
<body>
	<div class="header">
		<a href="https://medienportal.org"><img src="https://medienportal.org/images/icon.png" /></a>
	</div>
	<div class="content">
		<h1>Dieses Medienportal existiert nicht &nbsp;<span>:-(</span></h1>
		<h2>Hast du dich vielleicht vertippt? Bitte überprüfe deine Eingabe.</h2>
		<p>Erstelle dein eigenes Medienportal unter <a href="https://medienportal.org">medienportal.org</a></p>
	</div>
</body>
